#login-bg{
    background-image: url(https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=1600&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#login-form{
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(25px);
      -webkit-backdrop-filter: blur(25px);
      border-radius: 20px;
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
      border: 1px solid rgba(255, 255, 255, 0.2);
}
p{
    height: 0;
}

#login-form label{
    color: #fff;
    font-size: 16px;
}